:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* Text colors */
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --grey-txt-cl: #757575;
  --wh-txt-cl: #ffffff;
  --bl-txt-cl: #000000;
  --fill: #afb1b8;
  --address-cl: rgba(255, 255, 255, 0.6);
  /* Bg colors */
  --dark-bg-cl: #2f303a;
  --grey-bg-cl: #f5f4fa;
  /* Border */
  --border-cl: #ececec;
  --border-sec-cl: #eeeeee;
  /* Others */
  --indent: 30px;
  --items: 4;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Html */
/* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */

/* Body */
body {
  font-family: var(--main-font);

  color: var(--main-txt-cl);

  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--grey-txt-cl);
}

/* Reset style */
.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);

  text-align: center;

  color: var(--main-txt-cl);

  margin-bottom: 50px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Button styles */

.btn {
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  border: none;

  transition-property: color, background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.btn:hover,
.btn:focus {
  color: var(--wh-txt-cl);
  background-color: var(--accent-txt-cl);
}

.card-set {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/* Logo */
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
}

.logo-black {
  color: var(--bl-txt-cl);
}

.logo-white {
  color: var(--wh-txt-cl);
}

/* Header section */
header.header {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border-cl);
}

.header .logo {
  margin-right: 93px;
}

.header-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-txt-cl);

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.header-item {
  position: relative;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-txt-cl);
}

.header-link-current {
  color: var(--accent-txt-cl);
}

.header-link-current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-txt-cl);
  border-radius: 2px;
}

.header-icon {
  fill: currentColor;
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-txt-cl);
}

/* .header-contact-link:hover .header-icon {
  fill: var(--accent-txt-cl);
} */

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
}

.header-contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

/* Main */

/* Hero section */
.hero {
  /* background-color: var(--dark-bg-cl); */
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px auto;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--wh-txt-cl);
  max-width: 696px;
  margin-bottom: 30px;
}

.hero-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-weight: 700;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* About section */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.about-uppertitle {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--main-txt-cl);
  margin-bottom: 10px;
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 100px;
  background: var(--grey-bg-cl);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* Work section */
.work {
  padding-top: 0;
}

.work-item {
  --items: 3;
  position: relative;
}

.work-uppertitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: var(--wh-txt-cl);
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

/*  Team section */
.team {
  background-color: var(--grey-bg-cl);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  margin-bottom: 50px;
}

.team-item {
  background-color: var(--wh-txt-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-wrapper {
  padding: 30px;
}

.team-text,
.team-uppertitle {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.team-uppertitle {
  font-weight: 500;
  color: var(--main-txt-cl);
  margin-bottom: 10px;
}

.team-text {
  margin-bottom: 16px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--wh-txt-cl);
  border-radius: 50%;
  padding: 12px;

  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.social-icon {
  fill: var(--fill);

  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-txt-cl);
}

.socials-link:hover .social-icon,
.socials-link:focus .social-icon {
  fill: var(--wh-txt-cl);
}

/* Clients section */
.clients-item {
  --items: 6;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 31px;
  border: 1px solid var(--fill);
  border-radius: 4px;

  transition-property: border;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.clients-icons {
  fill: var(--fill);

  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-txt-cl);
}

.clients-link:hover .clients-icons,
.clients-link:focus .clients-icons {
  fill: var(--accent-txt-cl);
}

/* Footer section */
.footer {
  background-color: var(--dark-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

address {
  display: block;
  font-style: normal;
}

.address-item {
  color: var(--wh-txt-cl);
}

.address-item {
  margin-bottom: 9px;
}

.address-item:last-child {
  margin-bottom: 0;
}

.address-contact {
  color: var(--address-cl);
}

.address-link {
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-txt-cl);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 70px;
}

.footer-socials-title {
  text-align: start;
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--wh-txt-cl);
  margin-bottom: 20px;
}

.footer .socials-link {
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.footer .social-icon {
  fill: var(--wh-txt-cl);
}

.footer .socials-link:hover,
.footer .socials-link:focus {
  background-color: var(--accent-txt-cl);
}

/* Portfolio */

/* Filter section */
.filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-btn {
  display: block;
  padding: 6px 22px;
  font-weight: 500;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  background-color: var(--grey-bg-cl);
  border-radius: 4px;

  transition-property: color, background-color, box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--wh-txt-cl);
  background: var(--accent-txt-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Project */

.project-item {
  --items: 3;
}

.project-wrapper {
  padding: 20px 24px;
  background: var(--wh-txt-cl);
  border: 1px solid var(--border-sec-cl);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--main-txt-cl);
  margin-bottom: 4px;
}

.project-uppertitle {
  font-size: 16px;
  line-height: calc(30 / 16);
}

.project-link {
  display: block;

  transition-property: box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-thumb-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--wh-txt-cl);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;

  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  transform: translateY(100%);
}

.project-link:hover .project-thumb-text,
.project-link:focus .project-thumb-text {
  opacity: 1;
  transform: translateY(0);
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: opacity, visibility;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  background-color: var(--wh-txt-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.modal-btn {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--wh-txt-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0) rotate(90deg);
}

.no-scroll {
  overflow: hidden;
}
